@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 25% 96%; /* #F2F4F7 */
    --foreground: 224 7.1% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 7.1% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 7.1% 4.1%;
    --primary: 100 53% 47%; /* #61B33B */
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 90%;
    --secondary-foreground: 224 7.1% 4.1%;
    --muted: 215 27.9% 90%;
    --muted-foreground: 220 9.1% 43.1%;
    --accent: 125 28% 70%; /* #A7D1AB */
    --accent-foreground: 224 7.1% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 85.1%;
    --ring: 100 53% 47%;
    --chart-1: 100 53% 47%;
    --chart-2: 125 28% 50%;
    --chart-3: 216 25% 70%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 7.1% 4.1%;
    --sidebar-primary: 100 53% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 25% 96%;
    --sidebar-accent-foreground: 224 7.1% 4.1%;
    --sidebar-border: 215 20.2% 85.1%;
    --sidebar-ring: 100 53% 47%;
  }
  .dark {
    --background: 224 7.1% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 7.1% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 7.1% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 100 53% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 220 9.1% 43.1%;
    --accent: 125 28% 70%;
    --accent-foreground: 224 7.1% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 100 53% 47%;
    --chart-1: 100 53% 47%;
    --chart-2: 125 28% 50%;
    --chart-3: 216 25% 70%;
    --sidebar-background: 224 7.1% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 100 53% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 13% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 18%;
    --sidebar-ring: 100 53% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
